:root {
    --first-color: #243253;
    --light-color: #f1f1f1;
    --dark-color: #3d3d3d;
}

.how-we-are {
    padding: 100px 25px 0 25px;
    background-color: var(--first-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.how-we-are .part {
    text-align: center;
}

.how-we-are .part h1 {
    font-size: 36px;
    margin-bottom: 18px;
}

.how-we-are .part h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

.how-we-are .part p {
    max-width: 600px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    text-align: justify;
}

.how-we-are .part img {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .how-we-are {
        gap: 75px;
    }

    .how-we-are .part {
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 50px;
    }

    .how-we-are .part img {
        max-width: 400px;
    }

    .how-we-are .part h1 {
        font-size: 48px;
        margin-bottom: 24px;
    }

    .how-we-are .part h2 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .how-we-are .part p {
        font-size: 20px;
        line-height: 1.4;
    }
}
