:root {
    --first-color: #243253;
    --light-color: #f1f1f1;
    --dark-color: #3d3d3d;
}

.cover {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--first-color);
}

.cover::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}

.cover.cover-1 {
    background-image: url("../../new_images/cover-1.jpg");
}

.cover.cover-2 {
    background-image: url("../../new_images/cover-2.jpg");
}

.cover.cover-3 {
    background-image: url("../../new_images/cover-3.jpg");
}

.cover.cover-4 {
    background-image: url("../../new_images/cover-4.jpg");
}

.cover.cover-5 {
    background-image: url("../../new_images/cover-5.jpg");
}

.cover.cover-section {
    background-image: url("../../new_images/section.jpg");
    max-height: 25vh;
}

.cover.cover-supporting {
    background-image: url("../../new_images/slide-2.jpeg");
}

.cover .content {
    width: 88%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--light-color);
}

.cover .content h1 {
    font-size: 24px;
}

.cover .content ol {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

.cover .content ol a {
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: 250ms all ease;
}

.cover .content ol a:hover {
    border-bottom: 2px solid var(--light-color);
}

@media screen and (min-width: 768px) {
    .cover .content h1 {
        font-size: 40px;
    }

    .cover .content ol {
        font-size: 20px;
    }

    .cover.cover-section {
        max-height: 50vh;
    }
}
